.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
  }
  

  .category-image{
    height: 250px;
    object-fit: cover;
  }
